In [21]:
import os
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import psycopg2
import sqlalchemy.exc
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, declarative_base

# f"postgresql://{DB_USER}:{DB_PASS}@{IP}:{DB_PORT}/{DB_NAME_BASE}"
engine = create_engine(f"postgresql+psycopg2://airflow:airflow@0.0.0.0:5432/airflow")

In [34]:
file = "../dags/varios/flights/03_gold/agg_dep_delay_by_date/year/2010/2010.csv"
df = pd.read_csv(file, sep=',')
#df = pd.read_csv(file, sep=',')

In [35]:
df

       origin     fl_date  mean_dep_delay
0         ABE  2010-01-01           -0.33
1         ABE  2010-01-02            0.91
2         ABE  2010-01-03            8.70
3         ABE  2010-01-04           19.27
4         ABE  2010-01-05            7.25
...       ...         ...             ...
103733    YUM  2010-12-27            6.67
103734    YUM  2010-12-28            6.33
103735    YUM  2010-12-29           -1.08
103736    YUM  2010-12-30           -1.83
103737    YUM  2010-12-31            3.30

[103738 rows x 3 columns]

In [37]:
df['id']=df['origin']+df['fl_date'].str.replace(r'\D', '')

cols=df.columns.tolist()
cols=cols[-1:]+cols[:-1]
#df=df[cols]
cols
#df

['id', 'origin', 'fl_date', 'mean_dep_delay']

In [38]:
df=df[cols]
df

                 id origin     fl_date  mean_dep_delay
0       ABE20100101    ABE  2010-01-01           -0.33
1       ABE20100102    ABE  2010-01-02            0.91
2       ABE20100103    ABE  2010-01-03            8.70
3       ABE20100104    ABE  2010-01-04           19.27
4       ABE20100105    ABE  2010-01-05            7.25
...             ...    ...         ...             ...
103733  YUM20101227    YUM  2010-12-27            6.67
103734  YUM20101228    YUM  2010-12-28            6.33
103735  YUM20101229    YUM  2010-12-29           -1.08
103736  YUM20101230    YUM  2010-12-30           -1.83
103737  YUM20101231    YUM  2010-12-31            3.30

[103738 rows x 4 columns]

In [20]:
# assuming we have already changed values in the rows and saved those changed rows in a separate DF: `x`
#x = df[mask]  # `mask` should help us to find changed rows...

# make sure `x` DF has a Primary Key column as index
#x = x.set_index('a')
x = x.set_index('origin','fl_date')

# dump a slice with changed rows to temporary MySQL table
x.to_sql('my_tmp', engine, if_exists='replace', index=True)

conn = engine.connect()
trans = conn.begin()

try:
    # delete those rows that we are going to "upsert"
    engine.execute('delete from test_upsert where a in (select a from my_tmp)')
    trans.commit()

    # insert changed rows
    x.to_sql('test_upsert', engine, if_exists='append', index=True)
except:
    trans.rollback()
    raise

KeyError: "None of ['origin'] are in the columns"

In [6]:
x=df[df['fl_date']=='2010-01-04']

In [8]:
x = x.set_index('fl_date')

In [9]:
x

            mean_dep_delay
fl_date
2010-01-04           19.27
2010-01-04           31.86
2010-01-04           13.68
2010-01-04            9.67
2010-01-04           29.11
...                    ...
2010-01-04            6.33
2010-01-04            8.00
2010-01-04           18.78
2010-01-04           -4.50
2010-01-04           -0.70

[280 rows x 1 columns]

In [58]:
file = "../data/2010.csv"
df = pd.read_csv(file, sep=',')
#df = pd.read_csv(file, sep=',', index_col=0)
df

       origin     fl_date  mean_dep_delay
0         ABE  2010-01-01           -0.33
1         ABE  2010-01-02            0.91
2         ABE  2010-01-03            8.70
3         ABE  2010-01-04           19.27
4         ABE  2010-01-05            7.25
...       ...         ...             ...
103733    YUM  2010-12-27            6.67
103734    YUM  2010-12-28            6.33
103735    YUM  2010-12-29           -1.08
103736    YUM  2010-12-30           -1.83
103737    YUM  2010-12-31            3.30

[103738 rows x 3 columns]

In [44]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-10.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.9/35.9 MB 4.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.16.6 in /home/jorge/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.23.2)
Installing collected packages: pyarrow
Successfully installed pyarrow-10.0.1
WARNING: There was an error checking the latest version of pip.

In [59]:
import pyarrow 
file = "../data/2009_03_agg.parquet"
#df = pd.read_csv(file, sep=',')
#df = pd.read_csv(file, sep=',', index_col=1)
df = pd.read_parquet(file, engine='pyarrow')
df

    origin     fl_date  mean_dep_delay
0      ABE  2009-01-01           -2.92
1      ABE  2009-01-02            9.67
2      ABI  2009-01-01           -3.57
3      ABQ  2009-01-01            4.03
4      ABQ  2009-01-02           -3.50
..     ...         ...             ...
440    XNA  2009-01-01            1.62
441    XNA  2009-01-02           -6.25
442    YAK  2009-01-01          -23.00
443    YAK  2009-01-02           52.50
444    YUM  2009-01-01            3.62

[445 rows x 3 columns]

In [79]:
item = df[df['origin']=='ABE']
#item = df.loc[df['origin']=='ABE']
item.drop(['origin'], axis=1, inplace=True)
item.set_index('fl_date', inplace=True)
item

            mean_dep_delay
fl_date
2009-01-01           -2.92
2009-01-02            9.67

In [ ]:
for origin in df['origin'].unique():
    item = df[df['origin']==origin]

        df = pd.concat(dfs, axis=0)
        df = df.reset_index()
        return df

In [4]:
import os
local_path="/home/jorge"
year="2009"
file_path=os.path.join(f"{local_path}/{year}","jorge.csv")
print(file_path)

/home/jorge/2009/jorge.csv